@main("Home") {
    
<div class="row">
  <div class="span12">
    <h3><span class="highlight">We all buy everyday goods</span> but do you know what impact trade barriers and trade-related costs have on prices?<br/>Trademize brings trade transparency to you through eye-catching reports and interactive tools.</h3>
  </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
  <div class="span6 grid3">
  	<h4 class="pull-left">Trade Principles</h4>
    <div class="row clear top-space15">
      <div class="span2 bubble bubble1"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Trade Tariff</span>
      	<span class="pull-left clear">Simple average applied tariffs are a tax on import that act as trade barriers. The simple average applied tariff in India on shoes was 52% in 1996.</span>      	
      </div>
    </div>
    <div class="row clear top-space15">
      <div class="span2 bubble bubble2"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Customs and other import duties</span>
      	<span class="pull-left clear">Customs and other import duties are all levies collected on goods that are entering the country or services delivered by nonresidents to residents. They include levies imposed for revenue or protection purposes and determined on a specific or ad valorem basis as long as they are restricted to imported goods or services.</span>
      </div>
    </div>
    <div class="row clear top-space15">
      <div class="span2 bubble bubble3"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Cost to import</span>
      	<span class="pull-left clear">Cost measures the fees levied on a 20-foot container in U.S. dollars. All the fees associated with completing the procedures to export or import the goods are included. The cost measure does not include tariffs or trade taxes.</span>
      </div>
    </div>
  </div>
  
  <div class="span6">    
    <h4 class="pull-left">Major trade products</h4>
    <div class="row clear top-space15">
      <div class="span2 product water"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Bottled Water</span>
      	<span class="pull-left clear">The simple average applied tariff in Nigeria on bottled water was 60% in 2000.</span>      	
      </div>
    </div>
    <div class="row clear top-space15">
      <div class="span2 product tea"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Black Tea</span>
      	<span class="pull-left clear">The simple average applied tariff in India on black tea has been 100% in the past 5 years.</span>      	
      </div>
    </div>
    <div class="row clear top-space15 bottom-space15">
      <div class="span2 product shoes"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Shoes</span>
      	<span class="pull-left clear">The simple average applied tariff in South Africa on shoes has been 30% in the past 12 years.</span>      	
      </div>
    </div>
    
    <h4 class="pull-left">Bottled water<br/>2011 tariff by country</h4>
    <div class="row clear top-space15">
      <div class="span1 bold border-bottom border-right border-white country-column top-space5 bottom-space5">Country</div>
      <div class="span1 bold border-bottom border-right border-white tariff-column top-space5 bottom-space5">Tariff</div>
      <div class="span1 bold border-bottom border-white retailprice-column top-space5 bottom-space5">Retail Price</div>
    </div>
    <div class="row clear">
      <div class="span1 bold border-right border-white top-space5 country-column">India</div>
      <div class="span1 border-right border-white tariff-column top-space5 highlight">30%</div>
      <div class="span1 retailprice-column top-space5">$0.27</div>
    </div>
    <div class="row clear">
      <div class="span1 bold border-right border-white top-space5 country-column">Canada</div>
      <div class="span1 border-right border-white tariff-column top-space5">11%</div>
      <div class="span1 retailprice-column top-space5 highlight">$2.69</div>
    </div>
    <div class="row clear">
      <div class="span1 bold border-right border-white top-space5 country-column">Nigeria</div>
      <div class="span1 border-right border-white tariff-column top-space5">20%</div>
      <div class="span1 retailprice-column top-space5">$1.05</div>
    </div>
    <div class="row clear">
      <div class="span1 bold border-right border-white top-space5 country-column">S. Africa</div>
      <div class="span1 border-right border-white tariff-column top-space5">N/A</div>
      <div class="span1 retailprice-column top-space5">$2.02</div>
    </div>
    <div class="row clear">
      <div class="span1 bold border-right border-white top-space5 country-column">Ecuador</div>
      <div class="span1 border-right border-white tariff-column top-space5 highlight">30%</div>
      <div class="span1 retailprice-column top-space5">$0.35</div>
    </div>
  </div>
  
</div>

}