@prezimain("Prezi") {
    
<div class="row">
  <div class="span12">
    <h3><span class="highlight">TRADEMIZE</span> brings trade transparency to consumers through eye-catching reports and interactive tools.</h3>
  </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
  <div class="span4">&nbsp;</div>
  <div class="span6 grid3">
  	<h4 class="pull-left">Consumer Engagement Strategy</h4>
    <div class="row clear top-space15">
      <div class="span2 bubble bubble1"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Inform &amp; Educate</span>
      	<span class="pull-left clear">Presenting trade principles, tariffs and prices to the user in a clear and concise way.</span>      	
      </div>
    </div>
    <div class="row clear top-space15">
      <div class="span2 bubble bubble2"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Engage</span>
      	<span class="pull-left clear">Collection of eye-catching reports and interactive tools that increases insightful engagement with users.</span>
      </div>
    </div>
    <div class="row clear top-space15">
      <div class="span2 bubble bubble3"></div>
      <div class="span4">
      	<span class="highlight top-space5 pull-left">Connect</span>
      	<span class="pull-left clear">Enable users to find out what's happening, right now, and to talk to the people and organizations who are the leading experts on trade transparency.</span>
      </div>
    </div>
  </div>
  
</div>

}